.bigcell {
  background-color: #fff;
  border: 4px solid #fff;
  text-align: center;
}

.cell {
  width: 36px;
  height: 40px;
  font-family: Verdana, Arial;
  font-size: 10pt;
  font-weight: bold;
  background-color: #0a7bb9;
  color: #ffffff;
  border-top: 3px solid #cccccc;
  border-left: 3px solid #cccccc;
  border-right: 3px solid rgb(2, 86, 132);
  border-bottom: 3px solid rgb(2, 86, 132);
  text-align: center;
  border-radius: 10px;
}

.hole {
  width: 36px;
  height: 40px;
  background-color: #d0c6c6;
  text-align: center;
  border-radius: 10px;
}

body,
h1,
h2,
h3,
.msg,
capt1,
capt2,
td {
  font-family: Verdana, Comic Sans MS, Arial;
}

body {
  margin: 0px;
}

.msg {
  font-size: 8pt;
  font-weight: bold;
}

.tab {
  cursor: hand;
}

.capt1 {
  font-size: 10pt;
  font-weight: bold;
}

.capt2 {
  font-size: 9pt;
  font-weight: bold;
}

.capt3 {
  font-size: 14pt;
  font-weight: bold;
  color: #6400ff;
}

.capt4 {
  font-size: 12pt;
  font-weight: bold;
  color: rgb(249, 0, 10);
}

.but {
  font-size: 12pt;
  font-weight: bold;
  height: 26px;
  background-color: #4ead24;
  border: 2px solid #10771c;
  color: white;
}

.bnote {
  font-size: 8pt;
  font-weight: normal;
  color: white;
}

a.notelnk,
a.notelnk:visited,
a.notelnk:active {
  font-size: 8pt;
  font-weight: normal;
  color: #66ffcc;
}

.bnotehead {
  font-size: 10pt;
  font-weight: bold;
  color: #66ffcc;
}

.email {
  font-size: 8pt;
  font-weight: bold;
  color: white;
}

.fra {
  border: 2px solid #999999;
  background-color: #606060;
}

.clsThisGame,
.clsBar {
  font-size: 8pt;
  font-weight: bold;
  color: #cccccc;
}

.clsBar {
  margin: 0px;
  font-size: 8pt;
  font-weight: bold;
  color: #ffffff;
}

.clsOtherGame {
  margin: 0px;
  font-size: 8pt;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.help {
  /*font-size:8pt; margin:0px; font-weight:bold;*/
}

.menubar {
  padding: 0px;
  margin: 0px;
  brder-top: 1px solid white;
  brder-bottom: 1px solid white;
  background-color: #606060;
  background-image: url(images/menu.gif);
}

#board {
  direction: ltr;
}

@media (max-width: 767px) {

  #board table tbody tr {
    margin-left: 1px;
  }

  #board table td {
    display:inline-block !important;
  }

  #board table tbody {
    white-space: inherit;
    text-align: center;
  }
}
#fldStatus{
  font-weight: bold;
}